@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  margin: 0;

  background: url("img/fondo.png");
  background-size: 729px 255px;
  background-attachment: fixed;

  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -729px -255px;
  }
}

h1 {
  margin: 0;
}

nav {
  background-color: #000000;
  margin: 0;
  padding: 5px;
}

ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: #cef1ff;
  text-transform: uppercase;
}

ul li a:hover {
  color: #0aff52;
  fill: #0aff52;
}

header {
  margin-top: 0;
  height: 50px;
  color: #0aff52;
  background-color: #000000;
  border-bottom: #1e405b 3px double;
  display: flex;
  align-items: center;
  padding: 10px;
}
header div {
  display: flex;
  align-items: center;
}
header div img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
main {
  width: 100%;

  justify-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 30px;
  box-shadow: 0 0 20px 1px #76a8de;
  text-align: center;
}

footer {
  color: #e8ece7;
  background-color: #000000;
  border-top: #76a8de solid 1px;
  display: flex;
  justify-content: space-between;
  position: static;
  bottom: 0;
  width: 100%;
  height: 12vh;
}

footer div {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}

footer div p {
  margin: 2px;
}

#fuentes {
  font-size: small;
}

#fuentes a {
  text-decoration: none;
  color: #e8ece7;
}

.texto {
  color: #cef1ff;
  margin: 0;
  display: grid;
}

.textoOscuro {
  color: #040b04;
}

.fondo {
  background-color: #000000;
}

.intro {
  width: 100%;
  height: 90vh;

  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 0;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 1)
  );
  border-bottom: #76a8de 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.intro h1 {
  margin-left: 50px;
}

.introWarning {
  margin-left: 60px;
  color: red;
}

.secciones {
  width: 90%;
  display: flex;
  justify-self: center;
  margin-top: 30px;
  margin-bottom: 100px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
strong {
  color: #0aff52;
}

#background-video {
  width: 100%;
  height: inherit;
  object-fit: cover;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  z-index: -1;
  filter: blur(5px);
}

a .icon:hover {
  fill: #0aff52;
}

.reducido {
  width: 70%;
  align-self: center;
}

.columnas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#contenedorColumnas {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-columna {
  width: inherit;
  border-radius: 10px;
}

.seccion-tienda {
  background-color: #000000;
  color: #cef1ff;
  border-radius: 10px;
  padding: 20px;

  margin: 30px;
  box-shadow: 0 0 5px 0px #76a8de;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.portadaGaleria {
  width: 30vw;
  border-radius: 30px;
}

.seccion-tienda:hover {
  background-color: #76a8de;
  color: black;
}

#gif-hola {
  width: 300px;
}

#img-kits {
  height: 30vw;
}

.rainbow {
  animation: colorRotate 3s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.imagenSvg {
  fill: #cef1ff;
}

.fuentes {
  border: 0;
  padding: 0;
}

.img-tienda {
  width: 300px;
  border-radius: 10px;
  height: 300px;
}

#necrones {
  background-color: #000000;
  padding: 10px;
  border: #0aff52 1px solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #0aff52;
  margin: 30px;
  transition: 0.2s;
  text-decoration: none;
}

#necrones:hover {
  background-color: #0aff52;
  color: #000000;
}

#marines {
  background-color: #000000;
  padding: 10px;
  border: #0099ff 1px solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #0099ff;
  margin: 30px;
  transition: 0.2s;
  text-decoration: none;
}

#marines:hover {
  background-color: #0099ff;
  color: #000000;
}

#warhammer {
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contenedorImagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagenGalería {
  width: 300px;
  height: 300px;
  margin: 100px;
  border-radius: 30px;
  border: #76a8de 1px solid;
  transition: 0.5s;
}

.imagenGalería:hover {
  width: 500px;
  height: 500px;
  margin: 0;
  border-radius: 0;
  border: 0;
}

#iconos {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#iconos a {
  margin: 30px;
}

#encargoMiniaturas {
  padding: 30px;
  margin: 30px;
  justify-self: center;
  background-color: #000000;
  border-radius: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th,
td {
  border: 1px solid #76a8de;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #76a8de;
  color: #333;
}

tr:hover {
  background-color: #333;
}
.notes {
  font-size: 0.9em;
  color: #555;
  margin-top: 20px;
}

ol li {
  margin: 10px;
}

article {
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  margin: 30px;
  box-shadow: 0 0 10px 1px #76a8de;
  text-align: center;
}

form {
  padding: 20px;
  border-radius: 5px;
  background-color: #040b04;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
label {
  display: block;
  margin: 15px;
}
input,
textarea,
button {
  width: auto;
  padding: 10px;
  margin: 15px;
  border: 1px solid #76a8de;
  border-radius: 5px;
}

button {
  background-color: #040b04;
  color: #76a8de;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #040b04;
}

.contacto {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.contacto div {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

#contacto {
  margin: 20px;
  text-align: center;
}